---
layout: default
title: "About Us"
---

{% include page_header.html %}

<section class="about-us-content pd-tb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <figure>
                    <img src="/assets/images/about-code-image.jpg" alt="about code" />
                </figure>
            </div><!--  /.col-md-6 -->
            <div class="col-md-6">
                <h5 class="text-uppercase">Welcome To DotBlue</h5>
                <h2><strong>We work to provide great web solutions in all digital areas.</strong></h2>
                <p>DotBlue was founded in 2005. At DotBlue, we are passionate about leveraging technology to empower businesses and drive their success. As a leading provider of tech services, we specialize in a wide range of areas to meet the evolving needs of our clients.</p>
            </div><!--  /.col-md-6 -->
        </div><!--  /.row -->
        
        <div class="clearfix"></div><!--  /.clearfix -->
        <div class="pd-tb-30"></div><!--  /.pd-tb-45 -->

        <div class="row">
            <div class="col-md-6">
                <div id="accordion" class="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-title" href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
                                About DotBlue
                            </a>
                        </div>
                        <div id="collapseOne" class="card-block collapse show">
                            <p>DotBlue is a Chinese technology company founded in 2005 by a group of passionate technology enthusiasts who value innovation, trust, and stability in the digital world. The founders had a vision of creating a company that prioritizes user experience, security, and reliability. In 2023, the company expanded its operations to the United Kingdom with the aim of serving clients in the UK and Europe. The name "DotBlue" was chosen to reflect the company's core values and the services it provides. "Dot" symbolizes the company's connection to the internet, serving as a gateway to the world of digital services. "Blue" represents trust, stability, and professionalism, which are crucial qualities for the company.</p>
                        </div>
                        <div class="card-header">
                            <a class="card-title collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
                                Edge of DotBlue
                            </a>
                        </div>
                        <div id="collapseTwo" class="card-block collapse">
                            <p>DotBlue specializes in providing web design and development services, as well as cloud solutions for data storage, backup, and computation. It aims to assist small businesses and individuals in establishing a strong online presence. In addition to technical services, DotBlue is renowned for its excellent customer support and user-friendly interfaces, making it the preferred choice for businesses and individuals with limited technical expertise. DotBlue's mission is to make it easier and safer for everyone to connect to the digital world. To achieve this goal, the company invests in cutting-edge research and development and collaborates with other industry leaders to stay at the forefront of technological advancements.</p>
                        </div>
                        <div class="card-header">
                            <a class="card-title collapsed" href="#collapseThree" data-toggle="collapse" data-parent="#accordion">
                                DotBlue Today
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="card-block">
                                <p>Today, DotBlue is a well-known and respected brand in the technology industry, serving a global clientele. The company continues to evolve, focusing on innovative solutions and providing customers with secure, reliable, and user-friendly digital services.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--  /.col-md-6 -->
            <div class="col-md-6">
                <div class="skill-progress">
                    <div class="skill-bar" data-percentage="89%">
                        <h4 class="progress-title-holder">
                            <span class="progress-title">Graphics Design</span>
                            <span class="progress-wrapper">
                                <span class="progress-mark">
                                    <span class="percent"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div><!-- /.skill-bar -->
                    <div class="skill-bar" data-percentage="96%">
                        <h4 class="progress-title-holder">
                            <span class="progress-title">HTML/CSS</span>
                            <span class="progress-wrapper">
                                <span class="progress-mark">
                                    <span class="percent"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div><!-- /.skill-bar -->
                    <div class="skill-bar" data-percentage="80%">
                        <h4 class="progress-title-holder">
                            <span class="progress-title">Marketing</span>
                            <span class="progress-wrapper">
                                <span class="progress-mark">
                                    <span class="percent"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div><!-- /.skill-bar -->
                    <div class="skill-bar" data-percentage="85%">
                        <h4 class="progress-title-holder">
                            <span class="progress-title">Adwords</span>
                            <span class="progress-wrapper">
                                <span class="progress-mark">
                                    <span class="percent"></span>
                                </span>
                            </span>
                        </h4>
                        <div class="progress-outter">
                            <div class="progress-content"></div>
                        </div>
                    </div><!-- /.skill-bar -->
                </div>
            </div><!--  /.col-md-6 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section><!--  /.about-us-content -->
{% comment %}
    {% include our_team.html %}
{% endcomment %}
