<!-- Call to action block
================================================== -->
<section class="call-to-action overlay-bg pd-tb-90" style="background-image: url({{relative_url}}/assets/images/call-to-bg.jpg);">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9">
                <div class="call-to-content text-center">
                    <h2><span>DotBlue</span> Links to the tech and digital world.</h2>
                    <p>"Dot" is a connection to the internet and technology. "Blue" as a color in the name shows the reliability, trust, and professionalism of us.</p>
                </div><!--  /.call-to-content -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section>
<!--  /.call-to-action -->