<!-- Footer
================================================== -->
<footer class="site-footer bg-bl-russian">
    <div class="footer-top pd-tb-45">
        <div class="container">
          {% include subscribe_form.html %}
        </div><!--  /.container -->
    </div><!--  /.footer-top -->

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="widget">
                        <div class="widget-content">
                            <figure class="widget-thumb">
                                <img src="{{relative_url}}/assets/images/logo.png" alt="" />
                            </figure><!--  /.widget-thumb -->                           
                            <p>DotBlue was founded in 2005. At DotBlue, we are passionate about leveraging technology to empower businesses and drive their success. As a leading provider of tech services, we specialize in a wide range of areas to meet the evolving needs of our clients.</p>
                            <br>
                            <!--
                            <ul class="social-link">
                                {% if site.twitter_url %}
                                 <li><a href="{{site.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}
                                {% if site.facebook_url %}
                                 <li><a href="{{site.facebook_url}}"><i class="fa fa-youtube"></i></a></li>
                                {% endif %}
                                {% if site.instagram_url %}
                                 <li><a href="{{site.instagram_url}}"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}
                                {% if site.facebook_url %}
                                 <li><a href="{{site.facebook_url}}"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                            </ul>
                            --><!--  /.social-link -->
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->
                <div class="col-md-3">
                    <div class="widget widget_nav_menu">
                        <h2 class="widget-title">Services</h2>
                        <div class="widget-content">
                            <ul>
                                <li><a href="features/01_Software_Development">Software Development</a></li>
                                <li><a href="features/02_IT_Strategy_Consulting">IT Strategy Consulting</a></li>
                                <li><a href="features/03_Digital_Transformation">Digital Transformation</a></li>
                                <li><a href="features/04_Cloud_Computing">Cloud Computing</a></li>
                                <li><a href="features/05_Data_Analytics">Data Analytics</a></li>
                                <li><a href="features/06_IT_Infrastructure_Management">IT Infrastructure Management</a></li>
                            </ul>
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->

                <div class="col-md-3">
                    <div class="widget">
                        <h2 class="widget-title">Contact Us</h2>
                        <div class="widget-content">
                            <ul>
                                <li><i class="fa fa-map-marker"></i>124 City Road, London, EC1V 2NX, UK</li>
                                <li><i class="fa fa-phone"></i>+44 (0)754 264 8899</li>
                                <li><i class="fa fa-envelope"></i>info@dotblue.uk</li>
                            </ul>
                        </div><!--  /.widget-content -->
                    </div><!--  /.widget -->
                </div><!--  /.col-md-4 -->
            </div><!--  /.row -->
        </div><!--  /.container -->
    </div><!--  /.footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright-text">Copyright 2023 <a href="#">.BLUE</a> All rights Reserved.</p>
                </div><!--  /.col-md-6 -->

            </div><!--  /.row -->
        </div><!--  /.container -->
    </div><!--  /.footer-bottom -->
</footer>
<!--  /.site-footer -->